/* .zentrieren {
} */


body {
    background-color:rgba(8, 31, 96, 0.993);
}


h1 {
    color: blue;
}

.roteliste {
    background-color: aqua;
}

#ersterabschnitt {
    background-color: aquamarine;
    width: 60vw;
    margin: auto;
}
ersterabschnitt {
background-color: blue;
width: 60vw;
border-left: 10px solid darkcyan; 
}

p {border: 2px solid powderblue;
}   
p {border: 2px solid yellow;
padding: 30px;
} 
p {border: 2px solid powderblue;
margin: 50px;
}
